<%= form_for @task do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :description %>
    <%= f.text_area(:description, size: '48x10') %>
    <%= f.label :person_id, "Owner" %>
    <%= f.collection_select(:person_id, Person.all, :id, :name, class: "select-dropdown") %>
    <br>
    <br>
    <div  class="button-container">
      <a id="gray-button" class="circle-button" href="/">
        <p class="circle-button-title">WAIT</p>
        <span>Go back</span>
      </a>
      <%= f.submit(button_text, class: "create-task-button") %>
    </div>
<% end %>
