<header>
  <h1 id="page-title" class="title">Details</h1>
</header>

<div class="task-detail">
  <p class="task-name">
    <%= @task.name.upcase %>
  </p>
  <p class="task-description">
    <%= @task.description %>
  </p>
  <p class="task-owner">
    <a href="/people/<%= @task.person.id %>">Owner: <%= @task.person.name %></a>
  </p>
  <p class="task-complete-date">
    <% if !@task.complete.nil? %>
    <span>Completed on: </span><%= @task.complete.strftime("%D") %>
    <% end %>
  </p>
</div>

<div class="button-container">
  <a id="gray-button" class="circle-button" href="/">
    <p class="circle-button-title">OK</p>
    <span>go back</span>
  </a>

  <a class="circle-button" href="/tasks/<%= @task.id %>/edit">
    <p class="circle-button-title">EDIT</p>
    <span>this item</span>
  </a>
</div>
